{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
<h4> Search by Area </h4>
<div class="form-wrapper">
    <form class="form" method="post" action="/venues/search">
        <div class="form-group" style="">
            <label>City & State</label>
            <div class="form-inline">
                <div class="form-group">
                    {{ form.city(class_ = 'form-control', placeholder='City', autofocus = true) }}
                </div>
                <div class="form-group">
                    {{ form.state(class_ = 'form-control', placeholder='State', autofocus = true) }}
                </div>
            </div>
        </div>
        <input type="submit" value="Search Venues" class="btn btn-primary" id="sumbit-form">
    </form>
</div>
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
<ul class="items">
    {% for venue in area.venues %}
    <li>
        <a href="/venues/{{ venue.id }}">
            <i class="fas fa-music"></i>
            <div class="item">
                <h5>{{ venue.name }}</h5>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
{% endblock %}